<?php include('conexion.php');?>
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
            <table>
                <thead>
                        <th>POZO</th>
                        <th>DESCRIPCION</th>
                        <th>FLUIDO</th>
                        <th>SECO</th>
                        <th>GAS</th>
                        <th>ID</th>
                </thead>
                <tbody>
                    <? = cargartabla($conexion);?>
                </tbody>
                
            </table>
           
    </body>
</html>
