
<html>
    <head>
        <title>LISTADO DATOS POZOS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>POZO</th>
                        <th>DESCRIPCION</th>
                        <th>FLUIDO</th>
                        <th>SECO</th>
                        <th>GAS</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($datosguardados as $datospozos) {?>
                    <tr>
                        <td><?php echo $datospozos ['id']?></td>
                        <td><?php echo $datospozos ['Pozo']?></td>    
                        <td><?php echo $datospozos ['Descripcion']?></td>
                        <td><?php echo $datospozos ['Fluido']?></td>
                        <td><?php echo $datospozos ['Seco'] ?></td>
                        <td><?php echo $datospozos ['Gas'] ?></td>
                    </tr>
                    <?php } ?>
                </tbody>
                
            </table>
            
            
        </div>
    </body>
</html>
