       
h1{
   color: black;
   border-style: inherit;
   border-color: black;
}
            
.input_text{
                
    width: 200px;
    border: 5px;
    padding: 5px;
    margin: 2px;
    border-color: black;
}
            
body{
    margin: 20px;
    background-color: lightgray;
    background-image: url(../imagenes/AIB.png);
    background-repeat: no-repeat;
    background-size:    50% 80%;
    background-position-x: 440px;
    background-position-y: 100px;
}
        

            
.label{
    color: black;
    float: left;
}
            
.span{
    color: black;    
}
            
textarea{
    color: grey;
}
            
.form {               
    color: whitesmoke;    
}
            
            
p{
    color: gray;
}
              


.form-inline {
    color: black;
}

.btn {
    
    display: inline-block;
    background-color: gray;
    color: white;
    alignment-adjust: central;
    
   
}

.centrar{
    text-align: match-parent;
}


