     


    

.titulo{
   color: white;
   border-style: inherit;
   border-color: black;
   font-size: 70px;
   text-shadow: 0 0 7px red;
   
}
            
.input_text{
                
    width: 200px;
    border: 5px;
    padding: 5px;
    margin: 2px;
    border-color: black;
    text-transform: uppercase;
}
            
body{
    margin: 40px;
    background-color: threedhighlight;
    background-image: url(../imagenes/AIB.png);
    background-repeat: no-repeat;
    background-size:    40% 90%;
    background-position-x: 460px;
    background-position-y: 210px;
    
    
}
        

            
.label{
    color: white;
    
}
            
.span{
    color: black;    
}
            
textarea{
    color: grey;
}
            
.form {               
    color: whitesmoke;    
}
            
            
p{
    color: red;
}
              


.form-inline {
    color: black;
}

.btn {
    
    display: inline-block;
    background-color: gray;
    color: white;
    alignment-adjust: central;
   
}

.centrar{
    text-align: match-parent;
}

.formato_tabla{
    
    color: blue;
    
}


.header{
    
  padding: 50px;
  text-align: center;
  background-image: url(../imagenes/Header.png);
  background-repeat: no-repeat;
  color: white;
  font-size: 30px;    
  background-size: 100% 100%;
    
}


.btn1 {
    
    display: inline-block;
    background-color: gray;
    color: white;
    alignment-adjust: central;
}

.flex-container{
    
    display: flex;
    flex-direction: row-reverse;
}


.img1{
    
    
}